<nav class="navBar">
    <% if (currentUser) { %>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">My Profile</a></li>
            <li><a href="/activeusers/new">Create a New Post</a></li>
            <li><form class="navLogOut" action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Log Out" />
            </form></li> 
        </ul>      
    <% } else { %>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users/new"> Sign Up</a></li>
            <li><a href="/sessions/new">Login</a></li>
        </ul>
    <% }  %> 
</nav>