<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Post</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/profiles">My Profile</a>
            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Log Out" />
            </form> 
        </nav>
        <h2>Create a New Post</h2>
    </header>
    <form class="addBlog" action="/profiles" method="POST">
        <label for="created-by">Title:</label>
        <select name="created_by" id="created-by"></select>
            <% profiles.forEach(profile => { %> 
            <% }); %>
        <label for="name">Title:</label>
        <input type="text" name="name" id="name"/><br/>
        <label for="img">Image:</label>
        <input type="text" name="img" id="img"/><br/>
        <label for="biography">Description:</label>
        <textarea type="text" name="biography" id="biography"></textarea><br/>
        <input type="submit" value="Post Blog"/><br/>
    </form>
</body>
</html>