<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
    <title>Design Time</title>
</head>
<body>
    <%- include('./partials/nav') %> 
    <h1>Home</h1>
   
</body>
</html>