<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
    <title>Design Time</title>
</head>
<body>
  <div class="container">
    <span>
      <a href="/"><img class="image-blur" src="/css/imgs/logo.png" alt="logo"></a>
    </span>
    <header>
      <%- include('./partials/nav') %> 
    </header>
  </div>
    <main>
        <p>Welcome to Design Time. A place where there is no wrong or right only CREATIVITY. Sign up to browse and share all of your carnival designs.</p>  
    </main>
    <section>
        <div>
              <div>
                <a href="/users/new"><img src="https://i.pinimg.com/originals/fa/c0/04/fac004acd9fc7eb4c36fed376f231ae2.jpg" class="d-block w-100" alt="..."></a>
              </div>
          </div>
    </section>
    
</body>
</html>