@import '~bootstrap/scss/boostrap';
* {
    box-sizing: border-box;
}
html { 
    background: url(./imgs/paper.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
body {
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: rgb(125, 34, 114);
    max-width: 700px;
    margin:auto;
    text-align: center;
}
main {
    text-align: center;
}
h1 {
    font-family: 'Dela Gothic One', cursive;
    font-size: 50px;
    text-align: center;
    background-color: rgba(202, 43, 226, 0.214);
}
h2 {
    text-align: left;
}
header {
    color: rgb(255, 255, 255);
    background-color: rgba(202, 43, 226, 0.214);
    text-align: right;
    height: 50px;
    font-size: 20px;
    font-weight: bold;

}
.blogImg {
    width: 33.33%;
    float: left;
    padding: 20px;
    border-radius: 20px;
}
.rowImg {
    content: "";
    clear: both;
    display: table;
}
img {
    width: 500px;
    text-align: center;
}
.signUp {
    display: table;
}
.carousel-item {
    border-radius: 15px;
    align-items: center;
    max-width: 75%;
    max-height: 75%;
  }
  
  .carousel-item .active{
    border-radius: 15px;
    align-items: center;
  }
  
  .carousel {
    margin: 30px 30px 30px 30px;
  }