<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
    <title>Design Time| Sign In</title>
</head>
<body>
    <div class="container">
        <span>
            <a href="/"><img class="image-blur" src="/css/imgs/logo.png" alt="logo"></a>
        </span>
        <!-- <header>
          <%- include('../partials/nav') %> 
        </header> -->
    </div>
    <main>
        <div class="containerSign">
            <form class="signUp" action='/sessions' method="POST">
                <div class="labelEmail">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email"/>
                </div>
                
                <div class="labelEmail">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password"/>
                </div>
                
                <input type="submit" value="Login">
            </form>
        </div>
    </main>
</body>
</html>