<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
    <title>Create a New Post</title>
</head>
<body>
    <div class="container">
        <span>
          <a href="/"><img class="image-blur" src="/css/imgs/logo.png" alt="logo"></a>
        </span>
        <header>
          <%- include('../partials/nav') %> 
        </header>
      </div>
    <span class="secondTitle">Create New Post</span>
    <main>
      <div class="containerSign">  
        <form class="addBlog" action="/activeusers" method="POST">
            <div class="labelEmail">
              <label for="name">* Name:</label>
              <input type="text" name="name"/>
            </div>

            <div class="labelEmail">
              <label for="img">* Image URL:</label>
              <input type="text" name="img"/>
            </div>

            <div class="labelEmail">
              <label for="biography">* Description:</label>
              <textarea type="text" name="biography"></textarea>
            </div>

            <input type="submit" value="Create Post"/>
        </form>
        <p>* = Required Field</p>
      </div>
    </main>
</body>
</html>