<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
    <title>Create a New Post</title>
</head>
<body>
    <header>
        <%- include('../partials/nav.ejs') %> 
        <h2>Create New Post</h2>
    </header>
    <form class="addBlog" action="/activeusers" method="POST">
        Name: <input type="text" name="name"/><br/>
        Image: <input type="text" name="img"/><br/>
        Description: <textarea type="text" name="biography"></textarea><br/>
        <input type="submit" value="Edit Blog"/><br/>
    </form>
</body>
</html>